<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Stock Editor</title>



    <!-- Setup the webpage's stylesheet -->
    <link rel="stylesheet" href="/public/css/style.css" />
    <!-- Import the webpage's javascript file -->
    <!-- Setup the Webpage's Javascript file -->


  </head>
  <body>

<!--
==========================================        
____    ____  __    __   _______ 
\   \  /   / |  |  |  | |   ____|
 \   \/   /  |  |  |  | |  |__   
  \      /   |  |  |  | |   __|  
   \    /    |  `--'  | |  |____ 
    \__/      \______/  |_______|
==========================================
-->

    <div id="app">

        <div id="loginPanel">
            <div id="loginForm">
                <img src="/public/images/logo.png">
                <input id="emailInput" type="text" placeholder="Email">
                <input id="passwordInput" type="password" placeholder="Password">
                <button id="loginSubmit" type="button" v-on:click="loginSubmit()">Submit</button>
            </div>
        </div>


    <div id="leftColumn" class="container">
    



        <ol>
            <todo-item
            v-for="item in stocksList"
            v-bind:todo="item"
            v-bind:key="item.id"
          ></todo-item>
          </ol>

    </div>
    <div id="rightColumn" class="container">


        <h3>Stock 
            <b class="gradient">
               [[token]]
            </b>
        </h3>
        <!-- <div>Stock ID: <p id="id">Stock ID</p></div> -->
        <div class="item"><h4>Stock Name: </h4><p class="sub-item" id="name">Stock Name</p></div>
        <div class="item"><h4>Stock Location: </h4><p class="sub-item" id="storage">Stock Name</p></div>
        <div class="item"><h4>Current Amount: </h4><p class="sub-item" id="weight">Stock ID</p></div>
        <div class="item"><h4>Action: </h4>
            <p id="selectSection" class="sub-item">
                <select id="addOrSubtract">
                    <option value="0">Subtract</option>
                    <option value="1">Add</option>
                </select>
            </p>
        </div>
        <div class="item">
            <h4>
                Amount used/added
            </h4>
            <p id="inputSection" class="sub-item">
                <input id="amount" type="text" placeholder="how much you will use/add">
            </p>
        </div>
        <div >      
            <button onclick="makePUTrequest()">
                Submit
            </button>
        </div>
    </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/public/js/script.js" ></script>


  </body>


</html>
